body{
    background-color: rgb(243,246,254);
    font-size: helvetica-neue, "Helvetica Neue", Helvetica, Arial, sans-serif
}
body {
margin: 0;
}
#navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#nav_cont{
margin: auto;
  width: 98%;
  background-color: white;
}
#orange_head {
width: 100%;
height: 29px;
background-color: #F96302;
color: white;
text-align: center;
}
#orange_head > p {
margin: 0;
padding: 5px;
}
#search_bar_div img {
width: 60px;
height: 60px;
}
#search_input{
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
#search_input input {
  width: 600px;
  height: 30px;
}
#search_btn_img {
    height: 23px;
}
#search_btn{
    width: 30px;
    margin-top: 5px;
    background-color: #F96302;
    margin: 0;
    padding: 0;
    height: 35px;
}
#search_btn button{
width: 100%;
height: 100%;
background-color: #F96302;
}
.flex {
display: flex;
}
#text_search_bar_left * {
margin: 0;
/* margin-left: 10px; */
}
#hr_line {
margin: 0px 10px;
height: 70px;
}
#delivery_text * {
margin: 0;
}
#nav_div {
justify-content: space-between;
margin-top: 10px;
}
#search_last_text {
justify-content: space-between;
width: 250px;
margin-top: 20px;
}
#mid_text {
display: flex;
justify-content: end;
}
#mid_text > div {
padding: 0;
display: flex;
justify-content: space-between;
width: 45%;
font-size: 11px;
}
#mid_text p {
padding: 0;
margin: 0;
}
#navbar_bottom{
  justify-content: space-between;
  font-size: 14px;
}
.fa-solid, .fas {
font-family: "Font Awesome 6 Free";
font-weight: 1000;
font-size: 16px;
}
.menu-items>li{
    font-size: 14px;
}
#pcontainer{
    display: flex;
    width: 100%;
   
    border: 1px solid red;
    justify-content: space-around;

}
#leftcontainer{
    width: 17%;
    border: 1px solid green;
}
#leftcontainer spam{
    font-family: helvetica-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#leftcontainer>div{
    margin-left: 10px;
    background-color: white;
    margin-bottom: 30px;
}
#rightcontainer{
    width: 80%;
    border: 1px solid yellow ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
}
#rightcontainer img{
    height: 250px;
    width: 250px;

}
#rightcontainer>div{
    border: 1px solid red;
    background-color: white;
    
}
#flatbox{
    height: 150px;
    width: 100%;
    border: 1px solid blue ;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}
#flatbox>div{
    height: 100%;
    width: 150px;
    border: 1px solid yellow;
    text-align: center;
    background-color: white;

}
#flatbox>div>img{
    height: 100px;
    width: 120px;
}
#rightcontainer>div>p{
    margin-left: 10px;
    font-family: helvetica-neue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#rightcontainer>div>button{
  width: 90%;
  height: 50px;
  color: rgb(249,108,17);
  background-color: white;
  border: 1px solid rgb(249,108,17);
  margin: auto;
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}
#rightcontainer>div>button:hover{
    background-color: rgb(249,108,17);
    color: white;
    cursor: pointer;
}
#brandfilter{
   
   
    border: 1px solid pink;
    background-color: white;
    border-radius: 5px;
}
#rightcontainer>div>div{
    display: flex;
    margin-left: 10px;
}
#sortpricediv{
    text-align: right;
    font-size: 16px;
    margin-bottom: 20px;
   
   
   
}
#sortPrice{
          
  height: 40px;
  width: 200px;

  font-size: 17px;
 
  color:black;
  border: 1px solid green;

}